.skills {
  color: white;
  padding: 15vh 5vw 0 5vw;
  height: 80vh;
  h1 {
    font-size: 32px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  div {
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  table,
  td,
  th {
    border: 1px solid #ddd;
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 15px;
  }
}
.skillbox {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  flex: 0 33%;
  font-weight: bold;
  font-size: 20px;
  width: 250px;
  i {
    font-size: 38px;
    padding-right: 10px;
    line-height: 1;
  }
  box-shadow: 0 0 25px 0 rgba($color: yellowgreen, $alpha: 0.5);
}

.skillwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 50px;
}
