.card{
    display: flex;
    flex-direction: column;
    width:400px;
    margin-top: 5vh;
    box-shadow: 0 5px 25px 0 rgba($color: #000000, $alpha: .2);
    transition: 0.3s;
    text-align: center;
    img{
        height: 400px;
        width: 100%;
    }
    p{
        color: rgba($color: #000000, $alpha: .7);
        font-weight: bold;
        padding: 1vw;
    }    
    &:hover{
        box-shadow: 0 5px 25px 0 rgba($color: #000000, $alpha: .4); 
    }
}

@media(max-width:900px){
    .card{
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}