.home {
  display: flex;
  padding: 0 2vw 0 2vw;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  div {
    font-size: 32px;
    text-align: center;
    padding-top: 30px;
    img {
      cursor: zoom-in;
      border-radius: 30%;
      width: 60%;
      transition: 1s all;
      &:hover {
        width: 100%;
        transition: 1s all;
      }
    }
    .line {
      margin: 15px;
    }
    .name {
      font-size: 38px;
      font-weight: bold;
    }
    .tagline {
      font-size: 24px;
      font-weight: bold;
    }
    .links {
      font-size: 18px;
      a {
        text-decoration: none;
        color: white;
        transition: 0.5s font-size;
        font-size: 18px;
        &:hover {
          font-size: 24px;
          transition: 0.5s font-size;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .home {
    flex-direction: column;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
