.experience {
  padding: 15vh 5vw 0 5vw;
  h1 {
    font-size: 32px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  div {
    display: flex;
    flex-direction: column;
    li {
      list-style: none;
      text-align: start;
      background-color: black;
      padding: 20px;
      min-height: 150px;
      span:first-child {
        font-size: 24px;
        padding-top: 2px;
      }
    }
  }
}
