@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  font-family:'Roboto';
}

.app{
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  
}

