@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
}
html{

  scroll-behavior: smooth;
}

body{
  font-family: 'Ubuntu Mono', monospace;
}

nav{
 display:flex;
 width: 100vw;
 align-items: center;
 list-style: none;
 background-color:#457ABF;
 background-blend-mode: darken;
 color: white;
 min-height: 6vh;
 justify-content: space-evenly;
 position: fixed;
}

.maincontent{
  min-height: 70vh;
  
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 1vw 2vh 2vw;

}
.content-text{
  max-width: 80vw;
  font-size: 18px;
}

.content-image img{
  max-width: 80vw;
}
nav,li,a{
  color :white;
}

nav li{
  font-size: x-large;
  padding:20px;
}
nav li a {
  padding: 20px;
}

nav li:hover{
  background-color: #242424;

}
a{
  text-decoration: solid;
}

.menu{
  display: flex;
}

.mainphoto{
  display :flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100vw;
  min-height: 52vh;
  color: white;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/yatheesh.jpg) no-repeat;
}
.quote{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0 0 1vh;
  font-size: xx-large;
  font-weight: bolder;
  background-blend-mode: soft-light;
}

.title{
  font-size: xx-large;
}
.recent{
  padding: 2vh 0 5vh 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}

.recent .cards .card{
  flex-grow: 2;
}

.space{
  width: .25vw;
  height: 30vh;
  background-color: #FF3E4C;
  margin: 0 2vw 0 2vw;
}
/* cards */ 
.cards {
    display: flex;
    flex-wrap: wrap;
 }

.card {
    flex: 1 0 33%;
    box-sizing: border-box;
    padding: 0 0 8vh 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content{
  text-align: center;
}
.card a{
color: #242424;
}

@media screen and (max-width: 40em) {
    .card {
       max-width: 100vw;
    }
   .recent{
     flex-direction: column;
   }
}

@media screen and (max-width: 60em) {
    .recent{
      flex-direction: column;
    }
    .card {
        max-width: 100vw;
    }
    .content{
      flex-direction: column;
    }
    .space{
      width: 80vw;
      height: .25vh;
      background-color: #FF3E4C;
      margin:  2vw 0 2vw 0;
    }
    nav li{
      font-size: x-large;
      padding:10px;
    }
    nav li a {
      padding: 10px;
    }
}


.mainfooter{
  height:30vh;
  background-color: #24324F;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 20vw 0 20vw;
  justify-content: space-between;
}

.rightfoot{
  display: flex;
  flex-direction: column;
  list-style: none;

}
